# global
__pycache__/
.vscode/

# local
/part/hyper-parameter-optimization/data-labeling/cache/
/part/hyper-parameter-optimization/data-labeling/src/build/
/part/hyper-parameter-optimization/training-dataset/suite_sparse/cache/
/part/openfoamcom-or-openfoamorg/cache/
/part/test-for-petsc4foam/default/cache/
/part/test-for-petsc4foam/tuning/cache/
